@media (max-width: 768px) {
  body {
    padding-top: 60px; 
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 80px;
    scroll-behavior: smooth; 
  }
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}




/* Styling navbar */
.navbar-custom .nav-link {
  color: #000; /* Default color for links */
  text-decoration: none; /* Remove underline */
  
}
.navbar-custom .nav-link {
  margin-left: 25px; /* Menambahkan jarak antar menu */
}

.navbar-custom {
  background-color: #FFFFE7; /* Warna putih */
}

.navbar-custom .nav-link.active {
  color: #FDC921 !important; /* Yellow color for active link */
}

.navbar-custom .nav-link:hover {
  color: #FDC921; /* Yellow color on hover */
}

.navbar-custom .btn-masuk {
  margin-right: 20px;
  padding: 10px 10px;
  color: rgb(0, 0, 0);
  background-color: #FDC921 !important; /* Yellow color for the button */
  border-color: #FDC921;
}

.navbar-custom .btn-masuk:hover {
  background-color: #e6a800; /* Darker yellow on hover */
  border-color: #e6a800;
}

/* HOME HERO STYLING */
.home-hero {
  background-size: cover; /* Gambar akan disesuaikan dengan ukuran elemen */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  color: white;
}


.home-hero-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Efek gelap transparan */
  height: 100%;
  display: flex;
  align-items: center;
}

.home-subtitle {
  color: #FDC921;
  margin-bottom: 10px;
  font-weight: 500;
}


.home-description {
  max-width: 600px;
  margin-top: 15px;
  font-size: 1rem;
}

.home-button {
  background-color: #FDC921;
  border-color: #FDC921;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e6a800;
  border-color: #e6a800;
  color: black;
}







